.Promotion p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 600;
}

.Promotion h2{
    justify-content: center;
    font-size: 60px;
}

.Promotion h1{
    font-size: 40px;
}

.Promotion{
    height: 100vh;
    background: linear-gradient(240deg , #e382ea, #d2e4d822 60%);
    display: flex;
}

.SLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.SRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}